body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:287px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:287px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:110px;
  width:351px;
  height:100px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:186px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:618px;
  width:833px;
  height:255px;
  display:flex;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:186px;
}
#u60 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:428px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u54.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:287px;
}
#u55.a {
}
#u55_img.a {
}
#u55.a {
}
#u55_text.a {
}
#u55 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u56.a {
}
#u56_img.a {
}
#u56.a {
}
#u56_img.a.mouseOver {
}
#u56.a.mouseOver {
}
#u56_text.a {
}
#u56 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u57.a {
}
#u57_img.a {
}
#u57.a {
}
#u57_text.a {
}
#u57 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u58.a {
}
#u58_img.a {
}
#u58.a {
}
#u58_text.a {
}
#u58 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u59.a {
}
#u59_img.a {
}
#u59.a {
}
#u59_img.a.mouseOver {
}
#u59.a.mouseOver {
}
#u59_text.a {
}
#u59 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u60.a {
}
#u60_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:186px;
}
#u60.a {
}
#u60_text.a {
}
#u60 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
