body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:287px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:287px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:144px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:110px;
  width:351px;
  height:100px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:861px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:218px;
  width:861px;
  height:861px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:70px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:370px;
  width:833px;
  height:255px;
  display:flex;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:70px;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:593px;
  width:888px;
  height:371px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:979px;
  width:351px;
  height:100px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:29px;
  color:#000000;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:1005px;
  width:175px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 251, 122, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1132px;
  width:1920px;
  height:170px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1146px;
  width:346px;
  height:203px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1244px;
  width:134px;
  height:34px;
  display:flex;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:1146px;
  width:346px;
  height:203px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:1244px;
  width:191px;
  height:34px;
  display:flex;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:1146px;
  width:346px;
  height:203px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:1248px;
  width:99px;
  height:34px;
  display:flex;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1364px;
  width:859px;
  height:223px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:208px;
  background:inherit;
  background-color:rgba(246, 251, 122, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3358px;
  width:1920px;
  height:208px;
  display:flex;
  color:#000000;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:3483px;
  width:293px;
  height:58px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#000000;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:3429px;
  width:241px;
  height:66px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#000000;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:3498px;
  width:41px;
  height:41px;
  display:flex;
  color:#FFFFFF;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:3495px;
  width:46px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:3498px;
  width:41px;
  height:41px;
  display:flex;
  color:#FFFFFF;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:3495px;
  width:46px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:3497px;
  width:41px;
  height:41px;
  display:flex;
  color:#FFFFFF;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:3495px;
  width:46px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:3498px;
  width:41px;
  height:41px;
  display:flex;
  color:#FFFFFF;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:3495px;
  width:46px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:3498px;
  width:41px;
  height:41px;
  display:flex;
  color:#FFFFFF;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:3495px;
  width:46px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1675px;
  width:281px;
  height:281px;
  display:flex;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:1675px;
  width:281px;
  height:281px;
  display:flex;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:281px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:1675px;
  width:281px;
  height:281px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:2009px;
  width:590px;
  height:105px;
  display:flex;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:2009px;
  width:388px;
  height:105px;
  display:flex;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2009px;
  width:634px;
  height:105px;
  display:flex;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:2114px;
  width:523px;
  height:275px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:2114px;
  width:523px;
  height:275px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:2114px;
  width:523px;
  height:275px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:681px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:1637px;
  width:1px;
  height:680px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:681px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:1637px;
  width:1px;
  height:680px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1482px;
  height:2px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:2475px;
  width:1481px;
  height:1px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:2514px;
  width:821px;
  height:103px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1774px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:4.3px;
  text-align:center;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:2664px;
  width:1774px;
  height:275px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:4.3px;
  text-align:center;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:320px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:2986px;
  width:481px;
  height:320px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:2986px;
  width:640px;
  height:320px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:320px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:2986px;
  width:524px;
  height:320px;
  display:flex;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:428px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:287px;
}
#u1.a {
}
#u1_img.a {
}
#u1.a {
}
#u1_text.a {
}
#u1 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u2.a {
}
#u2_img.a {
}
#u2.a {
}
#u2_img.a.mouseOver {
}
#u2.a.mouseOver {
}
#u2_text.a {
}
#u2 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3.a {
}
#u3_img.a {
}
#u3.a {
}
#u3_text.a {
}
#u3 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.a {
}
#u4_img.a {
}
#u4.a {
}
#u4_text.a {
}
#u4 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u5.a {
}
#u5_img.a {
}
#u5.a {
}
#u5_img.a.mouseOver {
}
#u5.a.mouseOver {
}
#u5_text.a {
}
#u5 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.a {
}
#u6_img.a {
}
#u6.a {
}
#u6_text.a {
}
#u6 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u7.a {
}
#u7_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Black", "Raleway", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:70px;
}
#u7.a {
}
#u7_text.a {
}
#u7 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u8.a {
}
#u8_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u8.a {
}
#u8_text.a {
}
#u8 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u9.a {
}
#u9_img.a {
}
#u9.a {
}
#u9_img.a.mouseOver {
}
#u9.a.mouseOver {
}
#u9_text.a {
}
#u9 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.a {
}
#u10_img.a {
}
#u10.a {
}
#u10_text.a {
}
#u10 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.a {
}
#u11_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 251, 122, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11.a {
}
#u11_text.a {
}
#u11 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u12.a {
}
#u12_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u12.a {
}
#u12_text.a {
}
#u12 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u13.a {
}
#u13_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u13.a {
}
#u13_text.a {
}
#u13 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u14.a {
}
#u14_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u14.a {
}
#u14_text.a {
}
#u14 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u15.a {
}
#u15_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u15.a {
}
#u15_text.a {
}
#u15 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u16.a {
}
#u16_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
}
#u16.a {
}
#u16_text.a {
}
#u16 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u17.a {
}
#u17_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Medium", "Raleway", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:29px;
}
#u17.a {
}
#u17_text.a {
}
#u17 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u18.a {
}
#u18_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u18.a {
}
#u18_text.a {
}
#u18 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u19.a {
}
#u19_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:208px;
  background:inherit;
  background-color:rgba(246, 251, 122, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19.a {
}
#u19_text.a {
}
#u19 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u20.a {
}
#u20_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u20.a {
}
#u20_text.a {
}
#u20 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u21.a {
}
#u21_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#000000;
}
#u21.a {
}
#u21_text.a {
}
#u21 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u23.a {
}
#u23_img.a {
}
#u23.a {
}
#u23_text.a {
}
#u23 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u24.a {
}
#u24_img.a {
}
#u24.a {
}
#u24_text.a {
}
#u24 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u26.a {
}
#u26_img.a {
}
#u26.a {
}
#u26_text.a {
}
#u26 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u27.a {
}
#u27_img.a {
}
#u27.a {
}
#u27_text.a {
}
#u27 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u29.a {
}
#u29_img.a {
}
#u29.a {
}
#u29_text.a {
}
#u29 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u30.a {
}
#u30_img.a {
}
#u30.a {
}
#u30_text.a {
}
#u30 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u32.a {
}
#u32_img.a {
}
#u32.a {
}
#u32_text.a {
}
#u32 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u33.a {
}
#u33_img.a {
}
#u33.a {
}
#u33_text.a {
}
#u33 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u35.a {
}
#u35_img.a {
}
#u35.a {
}
#u35_text.a {
}
#u35 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u36.a {
}
#u36_img.a {
}
#u36.a {
}
#u36_text.a {
}
#u36 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u37.a {
}
#u37_img.a {
}
#u37.a {
}
#u37_text.a {
}
#u37 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u38.a {
}
#u38_img.a {
}
#u38.a {
}
#u38_text.a {
}
#u38 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u39.a {
}
#u39_img.a {
}
#u39.a {
}
#u39_text.a {
}
#u39 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u40.a {
}
#u40_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u40.a {
}
#u40_text.a {
}
#u40 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u41.a {
}
#u41_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u41.a {
}
#u41_text.a {
}
#u41 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u42.a {
}
#u42_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway SemiBold", "Raleway", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u42.a {
}
#u42_text.a {
}
#u42 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u43.a {
}
#u43_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u43.a {
}
#u43_text.a {
}
#u43 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u44.a {
}
#u44_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u44.a {
}
#u44_text.a {
}
#u44 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u45.a {
}
#u45_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u45.a {
}
#u45_text.a {
}
#u45 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u46.a {
}
#u46_img.a {
}
#u46.a {
}
#u46_text.a {
}
#u46 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u47.a {
}
#u47_img.a {
}
#u47.a {
}
#u47_text.a {
}
#u47 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u48.a {
}
#u48_img.a {
}
#u48.a {
}
#u48_text.a {
}
#u48 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u49.a {
}
#u49_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:81px;
  text-align:center;
}
#u49.a {
}
#u49_text.a {
}
#u49 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u50.a {
}
#u50_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1774px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  letter-spacing:4.3px;
  text-align:center;
}
#u50.a {
}
#u50_text.a {
}
#u50 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u51.a {
}
#u51_img.a {
}
#u51.a {
}
#u51_text.a {
}
#u51 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u52.a {
}
#u52_img.a {
}
#u52.a {
}
#u52_text.a {
}
#u52 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u53.a {
}
#u53_img.a {
}
#u53.a {
}
#u53_text.a {
}
#u53 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
